.youtube {
  position: absolute;
  bottom: 40%;
  left: 1%;
  z-index: 100;
  background-color: #14141d;
  button {
    margin-top: 10px;
    margin-left: 5px;
    background: #14141d;
    color: #4e5054;
    border: none;
    border-radius: 5px;

    &:hover {
      color: white;
    }
  }

  .player {
    display: flex;
    flex-direction: column;
  }
}
.inputYouTube {
  width: 93%; 
  font-size: 12px; 
  color: azure;
  background: rgb(44, 44, 44);
  border-radius: 4px;
  border: none;
}
.input {
  bbackground: rgba(18, 18, 18, 0.75); 
  backdrop-filter: blur(30px); 
  border: 1px solid rgba(255, 255, 255, 0.1); 
  width: 375px; 
  border-radius: 9px; 
  font-size: 14px; display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 11px 0px 11px 9px;
}