.container__scence {
    padding: 10px;
    opacity: 1;
    h2 {
        font-size: 18px;
        opacity: 0.8;
    }
    .modifier_scence {
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        max-height: 500px;
        width: 350px;
        z-index: 999;
        align-items: center;
        overflow-y: scroll;
        padding: 4px;
        .set-scence {
          opacity: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        .scence_image_container {
            margin: 10px 4px;
            opacity: 1;
            .scence_image {
                cursor: pointer;
                aspect-ratio: 16/9!important;
                border-radius: 16px;
                height: 190px;
                object-fit: cover;
                width: 100%;
                vertical-align: middle;
                opacity: 1;
              }
        }
        
        }
      }
}
.modifier_scence::-webkit-scrollbar {
    display: none;
  }
  